<div>
  <h2 id="page-heading" data-cy="StatHeading">
    <span jhiTranslate="tennisApp.stat.home.title">Stats</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="tennisApp.stat.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-stat"
        [routerLink]="['/stat/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="tennisApp.stat.home.createLabel"> Create a new Stat </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="stats?.length === 0">
    <span jhiTranslate="tennisApp.stat.home.notFound">No Stats found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="stats && stats.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="tennisApp.stat.id">Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="aces">
            <div class="d-flex">
              <span jhiTranslate="tennisApp.stat.aces">Aces</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="doubleFaults">
            <div class="d-flex">
              <span jhiTranslate="tennisApp.stat.doubleFaults">Double Faults</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="servicePoints">
            <div class="d-flex">
              <span jhiTranslate="tennisApp.stat.servicePoints">Service Points</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="firstServeIn">
            <div class="d-flex">
              <span jhiTranslate="tennisApp.stat.firstServeIn">First Serve In</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="firstServeWon">
            <div class="d-flex">
              <span jhiTranslate="tennisApp.stat.firstServeWon">First Serve Won</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="secondServeWon">
            <div class="d-flex">
              <span jhiTranslate="tennisApp.stat.secondServeWon">Second Serve Won</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="serviceGames">
            <div class="d-flex">
              <span jhiTranslate="tennisApp.stat.serviceGames">Service Games</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="savedBreakPoints">
            <div class="d-flex">
              <span jhiTranslate="tennisApp.stat.savedBreakPoints">Saved Break Points</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="facedBreakPoints">
            <div class="d-flex">
              <span jhiTranslate="tennisApp.stat.facedBreakPoints">Faced Break Points</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="player.id">
            <div class="d-flex">
              <span jhiTranslate="tennisApp.stat.player">Player</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let stat of stats; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/stat', stat.id, 'view']">{{ stat.id }}</a>
          </td>
          <td>{{ stat.aces }}</td>
          <td>{{ stat.doubleFaults }}</td>
          <td>{{ stat.servicePoints }}</td>
          <td>{{ stat.firstServeIn }}</td>
          <td>{{ stat.firstServeWon }}</td>
          <td>{{ stat.secondServeWon }}</td>
          <td>{{ stat.serviceGames }}</td>
          <td>{{ stat.savedBreakPoints }}</td>
          <td>{{ stat.facedBreakPoints }}</td>
          <td>
            <div *ngIf="stat.player">
              <a [routerLink]="['/player', stat.player.id, 'view']">{{ stat.player.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/stat', stat.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/stat', stat.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(stat)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="stats && stats.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
